* {
    margin: 0;
    font-family: inter;
    
}

#logo {
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusuperior {
    margin-left: 150PX;
    margin-top: 50px;
    
}

#texto-menusuperior {
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px; 
}

#menusuperior{
background-image: url(../imagens/fundo-menusuperior.svg);
color: white;
}

#menuinformacional {
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone {
    margin: 50px 0 50px 100px;
    padding: 16px;
}

#secaoVideo{
   display: grid;
   grid-auto-flow: column;
   columns: auto; 
}

.textoinformativo {
    display: flex;
    align-items: center;
}

#tituloVideo {
    color: #247BA0;
    margin-top: 50px; 
}


#video {
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;

}

#titulo-carrossel {
    color: white;
    text-align: center; /* deixa no centro o texto "Mais de 500 alunos já iniciaram seus estudos"*/
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.cards {
    margin-left: 50px;
}

#setaEsquerda {
    display: none; /*usa-se o display none para não aparecer o elemento setaEsquerda*/
}

#Bruna{
    display: none; /* usa-se o display "none" para não aparecer o elemento Bruna*/
}

.setas{
    margin-top: 50%; /*ficará alinhado ao centro*/
    cursor: pointer;
}

.setas:hover{
    transform: translateY(-7px); /* Vai "Flutuar" para o elemento setas para o negativo*/
    transition: 0.5; /*Tempo de transição*/
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    text-align: center;
    
}

#tituloFormulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input {
    width: 300px;
    height: 30px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10PX;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border-radius: 5PX;
    margin-bottom: 50PX;
    font-weight: bolder;
    cursor: pointer
}

button:hover {
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #10516da3;
    transition: 1s;
}